body.container-fluid {
    padding: 0;
}

/* 页面主体部分 */
.articleBody {}

.articleBody h3 {
    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
}

.bodyTime {
    color: #999999;
    font-size: 14px;
}

.articleProperty {
    font-size: 16px;
    color: #DA2F3C;
    margin-top: 30px;
}

/* 摘要 */
.articleBody .articleAbstract {
    color: #666666;

}

.articleImg {
    width: 100%;
    height: 156px;
}

.articleBody p {
    font-size: 14px;
    line-height: 30px;
}

/* 文章切换按钮 */
.articleBtn {
    margin-top: 77px;
    margin-bottom: 77px;
    overflow: hidden;
}

.articleBtn a {
    float: right;
    margin-left: 37px;
    font-size: 16px;
    color: #666666;
}

.articleBtn .click {
    color: #EB4646;
}

/* 文章推荐-- 热门 */
.hotArticle {
    border: 1px solid #F0F0F0;
    border-top: 0px;
}

.hotArticleTop {
    height: 2px;
    background: #B22122;
    border-radius: 2px 2px 0 0;
}
.hotArticleList {
    box-sizing: border-box;
    padding: 0 20px;
}
.hotArticleList h4 {
    margin:  24px 0 26px;
    font-size: 18px;
    color: #333333;
}