/* banner 区 */
.banner img {
  width: 100%;
}
/* 律师介绍区 */
.lawyers .title {
  margin-top: 46px;
  margin-bottom: 20px;
  text-align: center;
}
.lawyers .lawyer-list .media {
  width: 345px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #ccc;
  height: 130px;
  margin-bottom: 16px;
}
.lawyers .media-left {
  padding: 0;
  vertical-align: middle;
}
.lawyers .lawyer-list .media-object {
  width: 120px;
  height: 130px;
}
.lawyers .media-body .control-label{
  font-size: 12px;
  color: #333333;
  letter-spacing: 0.38px;
}
.lawyers .media-body {
  padding-top: 5px;
}
.lawyers .form-group span {
  font-size: 12px;
  color: #333333;
  letter-spacing: 0.38px;
}
.lawyers .form-group {
  margin-top: 5px;
  margin-bottom: 0;
}
.lawyers .control-text {
  display: inline-block;
  width: 59%;
  vertical-align: top;
}
.lawyers .more-lawyers {
  margin: 0 auto;
  border: 1px solid #DA2F3C;
  border-radius: 4px;
  width: 280px;
  height: 42px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
.lawyers .more-lawyers span {
  font-size: 14px;
  color: #DA2F3C;
  letter-spacing: 0;
  line-height: 42px;
}